body .App{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #eeeeee;
}

main {
  flex: 1 0 auto;
}

.cart {
  width: 100%;
}

.cart .product-body {
  margin-bottom: 20px;
}

.show{
  display: block !important;
}

.hide{
  display: none !important;
}